/* @font-face {
    font-family: "Avenir Regular";
    src: url('./fonts/avenir-regular.ttf') format('truetype');
    font-weight: normal;
} */

/* Avenir Light */
@font-face {
    font-family: "Avenir";
    src: url('./fonts/avenir-light.ttf') format('truetype');
    font-weight: 300;  /* light */
    font-style: normal;
}

/* Avenir Regular */
@font-face {
    font-family: "Avenir";
    src: url('./fonts/avenir-regular.ttf') format('truetype');
    font-weight: 400;  /* regular */
    font-style: normal;
}

/* Avenir Medium */
@font-face {
    font-family: "Avenir";
    src: url('./fonts/avenir-medium.ttf') format('truetype');
    font-weight: 500;  /* medium */
    font-style: normal;
}


body {
    font-family: 'Avenir', sans-serif;
}

/* .ml-0, .ml-64 {
    transition: margin-left 0.3s ease;
  } */