.custom-modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: auto;
    border-radius: 8px;
}

.modal-header {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 10px 10px 0px 5px;
}

.modal-header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.modal-header span {
    display: inline-block;
    vertical-align: middle;
}

.modal-body-regular {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    padding: 15px;
}

.modal-body-twoImages {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
}