.custom-modal {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: auto;
    border-radius: 8px;
}

.modal-header {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 10px 10px 0px 5px;
}

.modal-header img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.modal-header span {
    display: inline-block;
    vertical-align: middle;
}

.modal-body-regular {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    padding: 15px;
}

.modal-body-twoImages {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 20px 20px 0px 20px;
    margin-bottom: 20px;
    border-radius: 8px 8px 0px 0px;
    background: #FFF;
}

.results {
    color: var(--Navy-3, #6C7189);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.16px;
    text-align: center;
}

.trail-blazer {
    color: var(--Navy-1, #181C31);
    text-align: center;
    font-family: Avenir;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.32px;
    padding: 10px;
}

.yay {
    height: 240px;
    padding: 7px 37px 7.847px 27px;
    align-items: center;
    flex-shrink: 0;
}

.sub-text {
    color: var(--Navy-1, #181C31);
    text-align: center;
    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
}

.popup-1 {
    color: var(--Purple-1, #6846BC);
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    text-decoration-line: underline;
}

.conquer {
    color: var(--Navy-1, #181C31);
    text-align: center;
    font-family: Avenir;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.24px;
    padding-top: 20px;
}

.frame-2 {
    border-radius: 130px 130px 0px 0px;
    background: var(--Green-4, #DDF6E1);
    padding: 15px;
}

svg {
    display: block;
}

.frame-1 {
    background: var(--Purple-4, #EFE8FF);
    margin-top: -1px; /* Pull the div up to overlap with the SVG */
    z-index: 1;
    position: relative;
    /* padding: 10px */
}

.tip-1 {
    color: var(--Navy-1, #181C31);
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    padding: 15px;
}

.statement-title {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.16px;
}

.statement-popup-text {
    color: var(--Purple-1, #6846BC);
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    text-decoration-line: underline;
}


.pay-bill-title {
    color: var(--Navy-1, #181C31);
    text-align: center;
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.2px;
}

.pay-bill-balance {
    color: var(--Navy-1, #181C31);
    font-family: Avenir;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}

.pay-bill-popup-text {
    color: var(--Purple-1, #6846BC);
    text-align: center;
    font-family: Avenir;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
    text-decoration-line: underline;
}